header{
    --navHeight: 55px;
    --heroHeight: calc(100% - var(--navHeight));
    height: 100vh;
    width: 100vw;
    background-color: red;
    box-sizing: border-box;
    position: relative;
    display: none;
    z-index: 3;

}
header nav{
    height: var(--navHeight);
    background-color: white;
    color: black;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    /* grid-auto-columns: 1fr; */
    justify-content: space-between;
    align-items: center;
    padding-inline: 5vw;
}
header section.hero{
    height: var(--heroHeight);
    display: flex;
    position: relative;
    align-items: center;
}
.hero button{
    border: none;
    padding: 10px 19px;
    margin-top: 29px;
    border-radius: 7px;
    font-family: helvetica;
    font-weight: bold;
}
.hero button.primary{
    background-color: white;
}
.hero button.secondary{
    background-color: transparent;
    border: 2px solid white;
    color: white;
}